name: run program

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  schedule:
    - cron: "23 2 * * *" # 4:23am every day israel time (1:23 UTC time)

permissions: write-all

jobs:
  run:
    runs-on: alpine-latest

    steps:
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request'
        with:
          fetch-depth: 0
          ref: ${{ github.event.pull_request.head.ref }}

      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request'
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: apk add curl

      - name: run update
        run:
          ./update.sh
